{% extends "base.html" %}

{% block body %}
<div id="main">
  <div id="sidebar">
    <div class="list-group">
      {% for category in categories %}
        <a
          {% if query_category and category == query_category %}
          class="list-group-item active"
          {% endif %}
          class="list-group-item"
          href="/category/{{ category }}">
            {{ category }}
        </a>
      {% endfor %}
    </div>
  </div>
  <div class="books-wrapper">
    {% if query_keyword %}
      <div class="keyword-info">搜索"{{ query_keyword }}"，得到以下结果：</div>
    {% endif %}
    <ul class="books">
      {% for book in books %}
        <li>
          <a href="{{ book.path }}" title="{{ book.name }}">
            <img src="{{ book.cover }}" alt="{{ book.path }}" />
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
